<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="File" fileName="StormMetricsMonitor.log">
            <PatternLayout pattern="%d{HH:mm:ss} %-8.8p %-20.20c{2} %msg%n"/>
            <!--<PatternLayout pattern="%d{HH:mm:ss}    %p  [%t]    %msg%n"/>-->
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-8.8p %-20.20c{2} %msg%n"/>
            <!--%d %p %c{1.} [%t] %m%n-->
        </Console>
    </Appenders>

    <Loggers>
        <Logger level="off" name="org.mongodb.driver">
            <AppenderRef ref="File"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger level="trace" name="debug">
            <AppenderRef ref="File"/>
        </Logger>

    </Loggers>
</Configuration>