target
/.idea
artifacts
copyright
libraries
compiler.xml
description.html
gradle.xml
misc.xml
modules.xml
project-template.xml
uiDesigner.xml
vcs.xml
workspace.xml
.idea
/MetricsMonitor/nbproject/private/
/MetricsMonitor/build/
/MetricsMonitor/dist/