<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <appender name="console" class="org.apache.log4j.ConsoleAppender">
            <layout class="org.apache.log4j.PatternLayout">
                <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
            </layout>
        </appender>

        <!--<File name="trace" fileName="trace.log">-->
            <!--<MarkerFilter marker="trace" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--<PatternLayout>-->
                <!--<Pattern>%d %m %ex%n</Pattern>-->
            <!--</PatternLayout>-->
        <!--</File>-->
        <!--<File name="tasks" fileName="tasks.log">-->
            <!--<MarkerFilter marker="tasks" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--<PatternLayout>-->
                <!--<Pattern>%d %m %ex%n</Pattern>-->
            <!--</PatternLayout>-->
        <!--</File>-->
        <!--<File name="resources" fileName="resources.log">-->
            <!--<MarkerFilter marker="resources" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--<PatternLayout>-->
                <!--<Pattern>%d %m %ex%n</Pattern>-->
            <!--</PatternLayout>-->
        <!--</File>-->
        <!--<File name="schedule" fileName="schedule.log">-->
            <!--<MarkerFilter marker="schedule" onMatch="ACCEPT" onMismatch="DENY"/>-->
            <!--<PatternLayout>-->
                <!--<Pattern>%d %m %ex%n</Pattern>-->
            <!--</PatternLayout>-->
        <!--</File>-->
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="console" />
            <AppenderRef ref="tasks" />
            <AppenderRef ref="resources" />
            <AppenderRef ref="schedule" />
        </Root>
    </Loggers>
</Configuration>